body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:805px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:236px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u5947 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:755px;
  height:236px;
  color:#FFFFFF;
}
#u5948 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:735px;
  word-wrap:break-word;
}
#u5949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:248px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u5949 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:331px;
  width:755px;
  height:248px;
  color:#FFFFFF;
}
#u5950 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:735px;
  word-wrap:break-word;
}
#u5951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:248px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u5951 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:624px;
  width:755px;
  height:248px;
  color:#FFFFFF;
}
#u5952 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:735px;
  word-wrap:break-word;
}
#u5953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:419px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u5953 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:915px;
  width:755px;
  height:419px;
  color:#FFFFFF;
}
#u5954 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:735px;
  word-wrap:break-word;
}
